body {
  background-color: darkgray;
}
button {
  background-color: black;
  color: white;
}
input {
  background-color: beige;
  color: black;
}
.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
